@{
    ViewData["Title"] = "Home Page";
}

<div class="top-border text-center hero fill">
    @*<img class="d-block mx-auto mb-4" src="@Url.Content("~/images/Hero.webp")" alt="" style="max-width:50%;">*@
    @*<h1 class="display-5 fw-bold">Too Good To Go</h1>*@
    <div class="hero-text">
        <h1 class="display-5 fw-bold">Too Good To Go</h1>
    </div>
</div>

<div class="container pt-5 pb-5">
    <div class="row pb-5 gy-5">
        <div class="col-sm-12 col-md-6">
            <h2>Pakketten</h2>
            <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan ipsum at ligula euismod, id rhoncus erat aliquet. In aliquet euismod turpis ut consequat. Aenean suscipit nisl vel orci vulputate, in volutpat orci vehicula. Praesent sagittis nibh nec aliquam consequat. Vivamus vehicula nisl sit amet ex elementum congue et a mi. Cras ac sem ac dolor tempor ultricies et eget ex.</p>
            <a class="button-green shadow" asp-controller="Packet" asp-action="Packets"><span>Bekijk Pakketten</span></a>
        </div>
        <div class="col-sm-12 col-md-6 justify-content-center">
            <img class="image-homepage shadow" src="@Url.Content("~/images/Coffee.jpg")"/>
        </div>
    </div>

    <div class="row pt-5 gy-5">
        <div class="col-sm-12 col-md-8 col-lg-6 order-lg-1 order-md-1 order-2">
            <img class="image-homepage shadow" src="@Url.Content("~/images/Books.jpg")" />
        </div>
        <div class="col-sm-12 col-md-4 col-lg-6 order-lg-2 order-md-2 order-1">
            <h2>Over ons</h2>
            <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan ipsum at ligula euismod, id rhoncus erat aliquet. In aliquet euismod turpis ut consequat. Aenean suscipit nisl vel orci vulputate, in volutpat orci vehicula. Praesent sagittis nibh nec aliquam consequat. Vivamus vehicula nisl sit amet ex elementum congue et a mi. Cras ac sem ac dolor tempor ultricies et eget ex.</p>
            <a class="button-green shadow"><span>Bekijk Ons Verhaal</span></a>
        </div>
    </div>
</div>
