<div class="modal fade" id="" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Niet 18+</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <p>Weet je zeker dat je dit pakket wil verwijderen?</p> <br />
                        <p>
                            Let op! Wanneer een student al een pakket gereserveerd heeft kan dit pakket
                            niet verwijderd worden.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-darkgreen"><span>Sluiten</span></button>
                </div>
        </div>
    </div>
</div>
